<div class="container-fluid">
  <h1>スケジュール確認</h1>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">日付</th>
      <th scope="col">勤務可能時間</th>
      <th scope="col">出勤時間</th>
    </tr>
    </thead>
    <tbody>
    <% @schedules.each do |schedule| %>
      <% day = schedule.start_at.to_date %>
      <% fixed = schedule.fixed_schedules %>

      <% if fixed.size > 1 %>
        <tr>
          <th rowspan="<%= fixed.size %>"><%= day.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[day.wday]})") %></th>
          <td rowspan="<%= fixed.size %>"><%= schedule.to_string %></td>
          <td><%= fixed.first&.to_string %></td>
        </tr>
        <% fixed.each_with_index do |b, i| %>
          <% next if i == 0 %>
          <tr>
            <td><%= b.to_string %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <th scope="row"><%= day.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[day.wday]})") %></th>
          <td><%= schedule.to_string %></td>
          <td><%= fixed.first&.to_string %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>

