<div class="container-fluid">
  <h2>空き時間</h2>
  <p>
    <%= "#{@worker.name}さん" %><br>
    <%= "#{@schedule.start_at.strftime("%m/%d(%a)")}のスケジュール" %>
  </p>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="row">空き時間</th>
    </tr>
    </thead>
    <tbody>
    <% @availables.each do |available| %>
      <tr>
        <th scope="row"><%= available.to_string %></th>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h2 class="mt-5">時間登録</h2>
  <p>依頼する時間を入力してください。</p>
  <%= form_tag mng_worker_schedule_determine_path(@worker, @schedule), method: :post do %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="row">開始時間</th>
        <th scope="row">終了時間</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="row">
              <div class="col-auto">
                <%= select_tag "schedule[start_hour]", options_for_select(hour_options), include_blank: true, class: "custom-select" %>
              </div>
              ：
              <div class="col-auto">
                <%= select_tag "schedule[start_min]", options_for_select(min_options), include_blank: true, class: "custom-select" %>
              </div>
            </div>
          </td>
          <td>
            <div class="row">
              <div class="col-auto">
                <%= select_tag "schedule[end_hour]", options_for_select(hour_options), include_blank: true, class: "custom-select" %>
              </div>
              ：
              <div class="col-auto">
                <%= select_tag "schedule[end_min]", options_for_select(min_options), include_blank: true, class: "custom-select" %>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <%= hidden_field_tag "schedule_id", @schedule.id %>
      <%= submit_tag '登録', class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>
