<div class="container-fluid">
  <div class="center-block">
    <div>
      <%= link_to "前の日", workers_path(date: (@day - 1.day).strftime("%Y-%m-%d")), class: "btn btn-default" %>
      <%= @day.strftime("%m/%d(%a)") %>
      <%= link_to "次の日", workers_path(date: (@day + 1.day).strftime("%Y-%m-%d")), class: "btn btn-default" %>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="row">名前</th>
      <th scope="row">空き時間</th>
    </tr>
    </thead>

    <tbody>
    <% @workers.each do |worker| %>
      <% schedule = worker.schedules.of(@day).first %>

      <tr>
        <th scope="row"><%= worker.name %></th>
        <td>
          <div class="row">
            <div class="col-auto">
              <% if schedule.blank? %>
              ー
              <% else %>
                <%= link_to schedule.available_time_range_text, worker_schedule_arrange_path(worker, schedule) %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>

    <% end %>
    </tbody>
  </table>
</div>
